---
const { text, size = "md" } = Astro.props;

const sizeClasses = {
  sm: "py-2 px-6 text-sm",
  md: "py-3 px-10 text-base",
  lg: "py-4 px-16 text-lg",
}[size] ?? "py-3 px-10 text-base"; // fallback
---

<button
  class={`cursor-pointer bg-[#FFD93D] hover:bg-[#ffbb3d] mx-auto rounded-md text-[#2e2e2e] font-bold transition-all duration-200 hover:shadow-lg hover:-translate-y-1 ${sizeClasses}`}
>
  {text}
</button>
