---
const { text } = Astro.props;
---

<button class="cursor-pointer bg-[#FFD93D] hover:bg-[#ffbb3d] py-3 px-28 mx-auto rounded-md text-[#2e2e2e] font-bold text-xl transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
  {text}
</button>
