---

---

<footer class="bg-[#FF6B6B] text-white py-8 mt-12 border-t">
  <div class="flex items-center justify-evenly container mx-auto">
    <div class="flex gap-4 items-center">
      <img src="/public/images/logo/white.svg" alt="" class="h-6" />
      <p class="font-bold text-2xl">EVENTURA</p>
    </div>
    <div>
      <nav class="nav flex gap-12 font-regular text-sm">
        <a href="" class="underline-hover">Home</a>
        <a href="" class="underline-hover">¿How it works?</a>
        <a href="" class="underline-hover">Prices</a>
        <a href="" class="underline-hover">Newsletter</a>
        <a href="" class="underline-hover">Support</a>
      </nav>
    </div>
    <div class="flex flex-col gap-4">
      <a href="" class="font-light text-sm">+34 546 546 234</a>
      <a href="" class="font-light text-sm">welcome@eventura.com</a>
      <div class="flex justify-between">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
          ><path
            fill="#f7f7f7"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
          ></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
          ><path
            fill="#f7f7f7"
            d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"
          ></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 16 16"
          ><path
            fill="#f7f7f7"
            d="M9.333 6.929L14.546 1H13.31L8.783 6.147L5.169 1H1l5.466 7.783L1 15h1.235l4.779-5.436L10.83 15H15zM7.641 8.852l-.554-.776L2.68 1.911h1.898l3.557 4.977l.552.776l4.623 6.47h-1.897z"
          ></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
          ><path
            fill="#f7f7f7"
            d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
          ></path></svg
        >
      </div>
    </div>
  </div>
  <!-- <div class="container mx-auto text-center text-sm">
    © {new Date().getFullYear()} Eloy Lozano. All rights reserved.
  </div> -->
</footer>

<style>
  .underline-hover {
    position: relative;
    display: inline-block;
  }

  .underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease;
  }

  .underline-hover:hover::after {
    width: 100%;
  }
</style>
