---

---

<header class="text-[#2e2e2e] px-12 py-4 shadow-md">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-4">
      <img
        src="/public/images/logo/dark.svg"
        alt="Eventura's logo"
        class="h-6"
      />
      <p class="text-2xl font-bold">Eventura</p>
    </div>
    <nav class="flex items-center gap-16">
      <a href="/" class="">Home</a>
      <a href="/how-works" class="">How it works</a>
      <a href="/prices" class="">Prices</a>
      <a href="/support" class="">Support</a>
      <div class="flex gap-8 items-center">
        <a
          href="/start"
          class="bg-[#FF6B6B] text-white px-4 py-2 rounded-full text-sm font-medium"
          >Get Started</a
        >
        <a href="" class="text-xs font-bold">EN | ES</a>
      </div>
    </nav>
  </div>
</header>

<style>
  nav > a {
    transition: 0.2s ease-in-out;
    padding: 4px 24px;
    text-align: center;
  }
  nav > a:hover {
    background-color: #ff6b6b;
    border-radius: 100px;
    color: white;

  }
</style>
