---

---

<header class="text-[#2e2e2e] px-12 py-4 shadow-md">
  <div class="flex justify-between items-center">
    <a href="/" class="flex items-center gap-4">
      <img
        src="/public/images/logo/dark.svg"
        alt="Eventura's logo"
        class="h-6"
      />
      <p class="text-2xl font-bold">Eventura</p>
    </a>
    <nav class="flex items-center gap-16">
      <a href="/" class="">Home</a>
      <a href="/how-works" class="">How it works</a>
      <a href="/prices" class="">Prices</a>
      <a href="/support" class="">Support</a>
      <div class="flex gap-8 items-center">
        <a
          href="/start"
          class="bg-[#FF6B6B] text-white px-4 py-2 rounded-full text-sm font-medium"
          >Get Started</a
        >
        <a href="" class="text-xs font-bold">EN | ES</a>
      </div>
    </nav>
  </div>
</header>

<style>
  nav > a {
    transition: all 0.3s ease;
    padding: 4px 24px;
    text-align: center;
    border-radius: 9999px;
    position: relative;
  }

  nav > a:hover {
    background-color: #ff6b6b;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
</style>
