---
import Text from "./Text.astro";
import CustomH4 from "./CustomH4.astro";

const { title, text, img } = Astro.props;
---

<div class="flex flex-col justify-center items-center gap-2 max-w-80 ">
  <img src=`/public/images/icons/${img}.svg` alt="Icon" class="h-12 w-12" />
  <CustomH4 title={title}></CustomH4>
  <Text text={text}></Text>
</div>
